@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Bold'),
         url('../../fonts/Roboto-Bold.woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Light'),
         url('../../fonts/Roboto-Light.woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Medium'),
         url('../../fonts/Roboto-Medium.woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'),
         url('../../fonts/Roboto-Regular.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Thin'),
         url('../../fonts/Roboto-Thin.woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}